.bagian-2 {
    background-color: black;
    min-height: auto;
    padding: 30px 0; 
    overflow-x: hidden;
}

h2 {
    color: white;
    text-align: center;
    font-size: 38px;
    margin: 60px 0 40px 0;
}




.about-1, .about-2, .about-3 {
    display: flex;
    align-items: center;
    margin: 80px 0; 
    width: 100%; 
}


.about-1, .about-3 {
    justify-content: flex-start;
}


.about-2 {
    justify-content: flex-end; 
}


.about-1 img, .about-3 img {
    width: 260px;  
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 50px; 
}

.bagian-2-image img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px; 
}


.about-1-text, .about-2-text, .about-3-text {
    width: 550px; 
    margin: 0 50px; 
    color: white;
}


.about-1-text h3, .about-2-text h3, .about-3-text h3 {
    font-size: 26px;
    color: antiquewhite;
    margin-bottom: 12px;
}

.about-1-text p, .about-2-text p, .about-3-text p {
    font-size: 17px;
    line-height: 1.5;
    color: white;
    margin-bottom: 20px;
    text-wrap: pretty;
    word-wrap: break-word;
}


.about-1-text button, 
.about-2-text button, 
.about-3-text button {
    width: 120px;
    height: 40px;
    background-color: #4B0000;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about-1-text button:hover, 
.about-2-text button:hover, 
.about-3-text button:hover {
    transform: scale(1.05);
    background-color: #5a0000;
}


.about-1-text, .about-3-text {
    text-align: left;
}

.about-2-text {
    text-align: right;
}


.about-2 .about-2-text {
    order: 1; 
}

.about-2 .bagian-2-image {
    order: 2; 
}


@media (max-width: 1100px) {
    .about-1 img, .about-3 img {
        margin-left: 30px;
        width: 230px;
        height: 230px;
    }
    
    .bagian-2-image img {
        margin-right: 30px;
        width: 230px;
        height: 230px;
    }
    
    .about-1-text, .about-2-text, .about-3-text {
        width: 500px;
        margin: 0 30px;
    }
}

@media (max-width: 900px) {
    .about-1, .about-2, .about-3 {
        flex-direction: column;
        text-align: center;
        margin: 60px 0;
    }
    
    .about-1 img, .about-3 img {
        margin: 0 0 30px 0;
        width: 200px;
        height: 200px;
    }
    
    .bagian-2-image img {
        margin: 0 0 30px 0;
        width: 200px;
        height: 200px;
    }
    
    .about-1-text, .about-2-text, .about-3-text {
        width: 90%;
        margin: 0 auto;
        text-align: center !important;
    }
    
    .about-2 .about-2-text,
    .about-2 .bagian-2-image {
        order: 0; 
    }
    
    h2 {
        font-size: 32px;
        margin: 40px 0 30px 0;
    }
}

@media (max-width: 480px) {
    .about-1-text h3, .about-2-text h3, .about-3-text h3 {
        font-size: 22px;
    }
    
    .about-1-text p, .about-2-text p, .about-3-text p {
        font-size: 15px;
    }
    
    .about-1 img, .about-3 img,
    .bagian-2-image img {
        width: 180px;
        height: 180px;
    }
}

.bagian-bawah {
    text-align: center;
    margin-top: 50px;
    color: white;
    padding: 20px 0;
}
