.bagian-2{
    background-color: black;

    min-height: 2000px;   
}

h2{
    position: relative;
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top:200px ;
}


/* bagian element about */

.about-1{
    display :flex ;
    padding: 100px ;
    margin-top: 300px;
}

.about-1 img{
    max-width: 30%;
    border-radius: 50%;
}

.about-1-text{
    text-wrap: balance;
    transform:translateX(-500px) ;
    max-width: 1000px;

}

.about-1-text h3{
    font-size: 35px;
    color: antiquewhite;
}

.about-1-text p{
    font-size:20px ;
    color: white;
}

.about-1-text button{
    width: 120px;
    height: 50px;
    background-color: rgb(109, 23, 23);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    transition: transform 0.5s ease, color 0.5s ease ;
    cursor: pointer;
}



.about-2{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}


.about-2-text{
    text-wrap: balance;
    padding-left: 200px;
    max-width: 800px;
    transform: translateX(150px);
}

.bagian-2-image{
    margin-right: 80px; 
}

.bagian-2-image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.about-2-text h3{
    font-size: 35px;
    color: antiquewhite;
}

.about-2-text p{
    font-size:20px ;
    color: white;
}

.about-2-text button{
    width: 129px;
    height: 50px;
    background-color: rgb(109, 23, 23);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    transition: transform 0.5s ease, color 0.5s ease ;
    cursor: pointer;
}


.about-3{
    display :flex ;
    padding: 100px ;
    margin-top: 200px;
}

.about-3 img{
    max-width: 30%;
    border-radius: 50%;
}

.about-3-text{
    text-wrap: balance;
    transform:translateX(-600px) ;
    max-width: 1000px;

}

.about-3-text h3{
    font-size: 35px;
    color: antiquewhite;
}

.about-3-text p{
    font-size:20px ;
    color: white;
}

.about-3-text button{
    width: 120px;
    height: 50px;
    background-color: rgb(109, 23, 23);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    transition: transform 0.5s ease, color 0.5s ease ;
    cursor: pointer;
}

.about-1-text button:hover{
    color: antiquewhite;
    transform: scale(1.1);
}

.about-2-text button:hover{
    color: antiquewhite;
    transform: scale(1.1);
    
}

.about-3-text button:hover{
    color: antiquewhite;
    transform: scale(1.1);

}

.bagian-bawah{
    text-align: center;
}

 

