.img-gua {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeUp 1s ease-out forwards;
  animation-delay: 1s;
}

.text-h1{
  opacity: 0;
  transform: translateY(50px);
  animation: fadeUp 1.5s ease-out forwards;
  animation-delay: 1s; 
}

.p1{ 
  opacity: 0;
  transform: translateY(50px);
  animation: fadeUp 1.5s ease-out forwards;
  animation-delay: 1.3s;
}

.btn-animasi{
    opacity: 0;
  transform: translateY(50px);
  animation: fadeUp 1.5s ease-out forwards;
  animation-delay: 5.80s;

}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}

.social-icons a {
  opacity: 0;
  transform: translateY(20px) scale(0.8);
  animation: iconMuncul 0.5s ease forwards;
  animation-delay: 6s; 
}

.social-icons a:nth-child(1) {
  animation-delay: 6.1s;
}

.social-icons a:nth-child(2) {
  animation-delay: 6.25s;
}

.social-icons a:nth-child(3) {
  animation-delay: 6.4s;
}

@keyframes iconMuncul {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* bagian reavel */

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}



