body{
  overflow-x: hidden;
  margin: 0;
}


.section-1{
    background-image: black;
    height: 800px;
}
header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color:#4B0000
;
}

header nav{
    display: inline-block;
    padding-right: 300px;
    padding-top: 20px;
}

header div{
    display: inline-block;
    padding-left: 200px;
}

header p{
    font-size: 25px;
    font-style: italic;
    color:antiquewhite;
}

header a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 35px;
    padding: 0 20px;
    transition: transform 0.5s ease, color 0.4s ease;;
    cursor: pointer;
}
    header a:hover{
    transform: scale(1.1);
    color:antiquewhite;
}


.bagian-1 {
    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 60px;                 
    padding: 50px 100px;  
    max-height: 600px;   
}


.bagian-text{
    color: aliceblue;
    max-width: 700px;
    transform: translateX(-300px);
}

.text-h1{
    font-size: 60px;
}

.p1{
    font-size: 50px;
    transform:translateY(-40px) ;
    color: antiquewhite;
}

.p2{
    display: inline-block;
    padding-bottom: 20px;
    font-size: 25px;
    transform: translateY(-40px);
}


.img-gua{
    display: inline-block;
    width: 40%;
    border-radius: 50%;
    object-fit: cover;
    transform: translateX(100px);
}


.action-area{
    display: flex;
    align-items: center;
    gap: 40px;
    transform: translateY(-50px);
}

.btn-about{
    display: inline-block;
    max-width: 200px;
    font-size: 25px;
    padding: 10px;
    background-color: #4B0000;
    color: white;
    border-radius: 10px;
    border: none;
    transition: transform 0.5s ease, color 0.5s ease ;
    cursor: pointer;
}

 .btn-about:hover{
    transform: scale(1.1);
    color: antiquewhite;
}

.social-icons{
    display: flex;
    gap: 35px;
}

.social-icons a{
    color: white;
    font-size: 30px;
    transition: 0.3s;
}

.social-icons a:hover{
    color: rgb(172, 79, 18);
    transform: scale(1.2);
}


